/* TO DO ITEM */
.list-item {
  width: 100%;
  min-width: 360px;
  padding: 10px 6px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid var(--font-color);
}

.list-item:hover {
  border: none;
  outline: 2px solid var(--accent-color);
  border-radius: 4px;
}

.original .list-item:first-child {
  margin-top: 2px;
}

.list-item:last-child {
  border: none;
}

.checkbox-and-title {
  display: flex;
  align-items: center;
  flex: 20 0 0;
  gap: 6px;
}

/* 1. Checkbox */
.list-item input[type="checkbox"] {
  /* accent-color: var(--accent-color); */
  min-width: 18px;
  min-height: 18px;
  cursor: pointer;
}

/* 2. Task title + input container*/
.list-item-title {
  /* border: 2px solid; */
  justify-content: flex-start;
  align-items: center;
  flex: 20 0 0;
  line-height: 1.1;

  flex-wrap: wrap;
  min-width: 140px;
  max-width: max(80%, 400px);
  cursor: pointer;
}

.list-item input[type="text"] {
  font-family: "Average Sans", sans-serif;
  font-size: 16px;
  width: 100%;
  flex: 20 0 0;
  padding: 2px 0px;
  appearance: none;
  outline: none;
  border: none;
  border-bottom: 1px solid;
}

.actions {
  display: flex;
  align-items: center;
  gap: 2px;
}

.list-item .due-date {
  flex: 1 0 auto;
}

.list-item .status {
  /* border: 1px solid; */
  width: 100%;
  position: relative;
}

.current {
  /* border: 1px solid; */
  width: fit-content;
  padding: 5px 8px 6px 8px;
  border-radius: 16px;
  cursor: pointer;
}

.tasks-list .current.not-started {
  background-color: var(--status-not-started);
}

.tasks-list .current.in-progress {
  background-color: var(--status-in-progress);
}

.tasks-list .current.done {
  background-color: var(--status-done);
}

.status .options {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  width: 94px;
  background-color: var(--bg-accent-color);
  border-radius: 6px;
  position: absolute;
  top: 0px;
  z-index: 20;
  cursor: pointer;
}

.options button {
  background-color: transparent;
  width: 100%;
  padding: 5px 8px 6px 8px;
}

.options button:hover {
  border: none !important;
  background-color: var(--btn-bg-hover);
}

.options button:first-child:hover {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.options button:last-child:hover {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.date-created {
  display: none;
  /* border: 1px solid; */
  width: 100px;
  flex-wrap: wrap;
}

.list-item .edit-delete {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .list-item {
    min-width: 100%;
  }

  .actions {
    flex-direction: column;
    align-items: center;
  }

  .actions .status {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dashboard .edit-delete {
    display: none;
  }
}
