:root {
  --accent-color: rgb(205, 232, 255);
}

/* To DO APP */
.to-do-app {
  /* border: 1px solid; */
  width: 100%;
  /* min-width: 520px; */
  /* max-width: 1000px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.to-do-app .material-symbols-outlined {
  font-size: 20px;
}

.to-do-app h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.to-do-app button {
  border: none;
  cursor: pointer;
}

.to-do-app button.primary {
  border-radius: 20px;
  padding: 8px 20px;
  outline: none;
  background-color: #ffffff;
  flex: 1 0 0;
}

.to-do-app button.secondary {
  border-radius: 20px;
  padding: 4px 12px;
  outline: none;
  background-color: #ffffff;
}

button.primary:hover,
button.secondary:hover {
  background-color: var(--accent-color);
}

/* ADD TODO */
.add-todo {
  /* border: 1px solid; */
  width: 100%;
  background-color: rgb(244, 153, 137);
  padding: 20px;
  justify-content: center;
  gap: 16px;
  margin-bottom: 30px;
}

.add-todo input {
  flex: 3 0 0;
  max-width: 400px;
  height: 36px;
  padding: 4px 6px 2px 6px;
  border: none;
  border-radius: 8px;
}

.add-todo button {
  max-width: 120px;
}

.sort-btns button {
  margin: 0px 10px 20px 0px;
}

.tasks-list {
  width: 100%;
}

.original {
  width: 100%;
  padding: 0px 24%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* MODAL */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 80%;
  height: 80%;
  background-color: rgb(255, 244, 244);
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-top: 110px;
  padding: 70px 20px 20px 20px;
  border: 2px solid rgb(114, 114, 114);
  border-radius: 20px;
  box-sizing: border-box;
}

.close-modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  padding: 20px;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}

.modal > .title,
.body {
  outline: none;
  appearance: none;
  border: none;
  background-color: transparent;
  padding: 10px;
  text-align: left;
}
.modal .body {
  border: 1px solid;
  flex-grow: 1;
  overflow-y: auto;
  overflow-wrap: normal;
  /* flex-wrap: wrap; */

  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; */
}

@media screen and (max-width: 1024px) {
  .original,
  .tasks-list {
    padding: 0px 12px;
  }
}

@media screen and (max-width: 767px) {
  .list-item-title {
    padding: 0px;
  }
}

@media screen and (max-width: 576px) {
  .tasks-list {
    margin-top: 0px !important;
    padding: 0px !important;
  }
  .list-item .title-and-date {
    flex-direction: column;
    align-items: flex-start;
  }
}
